@import '../../../styles/variables.scss';

.header__container {
    background-color: $colorPrimarySlateBlue;
    padding: 0 30px;

    h3 {
        color: white;
    }

    .user__top__menu{
        gap: 30px;

        li {
            list-style: none;
            color: $colorPrimaryWhite;
            cursor: pointer;

            &:hover {
                color: 	$colorSecondaryLightGrey;
            }
        }
    }

    .avatar-wrapper{
        display: none;
        position: relative;
        
        .avatar {
            vertical-align: middle;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .dropdown {
            position: absolute;
            background: $colorPrimaryWhite;
            width: 120px;
            border-radius: 5px;
            right: 0px;
            top: 35px;
            display: flex;
            flex-direction: column;
            // gap: 10px;
            padding: 3px;
            box-shadow: 5px 10px 18px #888888;  

            div {
                gap: 10px;
                border-radius: 3px;
                padding: 10px;
                
                &:hover {
                    background: $colorSecondaryLightGrey;

                    p, .mat-icon {
                        color: white;
                    }
                }

                .mat-icon {
                    color: $colorPrimaryGrey;
                }
    
                p {
                    // text-align: center;
                    cursor: pointer;
                    color: $colorPrimaryGrey;
                }
            }
        }
    }

    .menu-wrapper {
        display: none;
    }

    .menu-wrapper2 {
        display: none;

        .list {
            list-style: none;
            flex-direction: column;
        }
    }

    .material-icons {
        cursor: pointer;
        color: white;
    }

    // .log__out__form {
    //     li {
    //         list-style: none;
    //         color: $colorPrimaryWhite;
    //         cursor: pointer;

    //         &:hover {
    //             color: 	$colorSecondaryLightGrey;
    //         }
    //     }
    // }
}

.navigation__container {

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        font-size: 12px;
        font-weight: bold;

        li {
            cursor: pointer;
            color: $colorSecondaryAero;

            a {
                text-decoration: none;
                color: $colorSecondaryAero;

                &:hover {
                    color: $colorSecondaryGrey;
                }
            }
        }
    }
}

::ng-deep .mat-menu-content {
    .flex-center {
        padding: 0 30px 0 10px;
        color: $colorPrimaryGrey;
    }
}

@media (max-width: 767px) {
    .header__container {
        .user__top__menu {
            display: none;
        } 
        
        .menu-wrapper {
            display: block;
        }

        .menu-wrapper2 {
            display: block;
        }

        .avatar-wrapper {
            display: block;
        }
    }

    .navigation__container {
        display: none;
    }
}