// *********** colors *********

//**primary colors**

// $colorPrimarySlateBlue: #6A5ACD;
$colorPrimarySlateBlue: #000000;
$colorPrimaryGrey: #808080;
$colorPrimaryWhite: #FFFFFF;
$colorPrimaryBlack: #1e1f1f;

//**secondary colors**

$colorSecondaryRed: #f65353;
$colorSecondaryDarkSlateBlue: #483D8B;
$colorSecondaryLightGrey: #D3D3D3;
$colorSecondaryGrey: #666666;
$colorSecondaryGreen: #1F2D13;
$colorSecondaryAero: #3A4F26;