<div class="categories__section__wrapper">
    <!-- <div class="header">
        <h2>Categories</h2>
    </div> -->
    <div class="body">
        <p>Find everything you need to live easier</p>
        <div class="info__section">
            <ul>
                <li>&nbsp;&nbsp;&nbsp;Shopping Center</li>
                <li>Great Armenia</li>
                <li>(+374) 123 456</li>
            </ul>
        </div>
    </div>
    <!-- <div class="body" style="display: flex; justify-content: center; align-items: center;">
        <img alt="wine" src="../../../assets/wine/wine1.jpg" style="height: 600px;">
    </div> -->

</div>
